.menu-mobile {
    display: none;
}

.btn-burguer {
    padding: 0px;
    max-width: 30px;
    color: black;
}

.btn-burguer:hover {
    box-shadow: none;
}

.bi.bi-list {
    color: black;
    font-size: 20px;
    color: black;
}

.bi-x-lg {
    padding: 0px;
    font-size: 20px;
}

.menu-options {
    background: black;
    border-left: 2px solid rgb(1, 87, 1);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 2;
    right: 0;
    top: 81px;
    width: 70vw;
    list-style: none;
    padding: 0;
    height: 100%;

    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.menu-options li {
    display: flex;
    width: 100%;
}

.btn-option {
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
    color: white;
}

.menu-options li:first-child {
    padding-top: 10px;
}

@media (max-width: 414px) {
    .menu-mobile {
        display: block;
    }

    .btn-nav, .bi.bi-eye, .bi.bi-x-circle, .bi.bi-plus-circle {
        color: white;
    }

    .btn {
        border: none;
        width: 100%;
    }
}