.pagination {
    margin: 0;
}

/*.paginacao-informations {
    position: absolute;
    right: 0;
}*/

.paginacao {
    display: flex;
    align-items: center;
}

@media (max-width: 414px) {
    .paginacao {
        margin-bottom: 9px;
    }

    .paginacao-information-text {
        display: none;
    }

    .isMobile {
        display: none !important;
    }
}