@media (max-width: 1000px) {
    .bi.bi-caret-down-fill {
        display: none;
    }

    .form-input-image {
        margin-bottom: 15px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-selects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 20px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs .modify-form-content-input-item .form-input {
        border: 1px solid rgb(219, 219, 219);
        height: 45px;
        outline: none;
        border-bottom: 2px solid #3D3B40;
        margin-bottom: 15px;
        
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs .modify-form-content-input-item .form-input-image {
        height: 45px;
    }

    .modify-container .modify-title {
        text-align: center;
        margin-top: 10px;
    }

    .modify-form-content-button {
        margin-top: 3dvb;
    }

    .modify-form-content-button .form-update-btn {
        padding: 9px;
        width: 300px;
        border-radius: 3px;
        background: #59B4C3;
        border: none;
        margin-bottom: 50px;
    }

    .form-check {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 20px;
    }

    .form-check .form-check-item {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }
}

@media (min-width: 1024px) {
    .bi.bi-caret-down-fill {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #EEE2DE;
        font-size: 16px;
    }

    .form-select {
        background: #26577C;
    }

    .modify-container {
    }

    .modify-container .modify-title {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .modify-container .modify-form-container {
    }

    .modify-container .modify-form-container .modify-form-content {
        max-width: 900px;
        background: #F3F3F3;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;
        margin-bottom: 10px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs div {
        display: flex;
        width: 50%;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs .modify-form-content-input-item {
        width: 100%;
        margin-bottom: 15px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs .modify-form-content-input-item .form-input {
        border: none;
        height: 45px;
        outline: none;
        border-bottom: 2px solid #3D3B40;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs .modify-form-content-input-item .form-input-image {
        height: 45px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-inputs .modify-form-content-input-item .modify-form-content-input-text {
        margin-bottom: 5px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-selects {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 30px;
    }

    .form-check {
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
        height: 55px;
    }

    .form-check .form-check-item {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    .modify-container .modify-form-container .modify-form-content .modify-form-content-selects .modify-form-content-select-item {
        position: relative;
    }

    .flex-selects-checks {
        /*background: red;*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .modify-form-content-button {
        margin-top: 40px;
    }

    .modify-form-content-button .form-update-btn {
        padding: 9px;
        width: 300px;
        border-radius: 3px;
        background: #59B4C3;
        border: none;
    }
}