@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.search-container .input-group{
    display: flex;
    flex-direction: column;
}

.carros-filtro-container {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 50px;

    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.form-control-search {
    font-size:  1rem;
    margin-top: 0.625em;
    height:     2.4375em;
    width:      18.75em;
    border-radius: 0px;
    padding-left: 5px;
    outline: none;
    border: none;
    border-bottom: 3px solid #191919;

    background: #FBF9F1;
}

.form-select {
    font-size:     1rem;
    margin-top:    30px;
    width:         12.5em;
    border-radius: 2px;
    background-color: #191919;
    height:     50px;
    color: white;
}

.btn-search {
    border: 0 !important;
    border-radius: 0 !important;
    width: 300px;

    background: #191919;
}

.btn-search:hover {
    background: black;
}


.btn-default {
    margin-top: 0.625em;
    height:     2.4375em;
    border:   none;
}

@media (max-width: 414px) {
    .form-select {
        height: 2.6875em;
        width:  8.125em;
        margin-top: 0.625em;
    }
}