@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.order-container {
}

.btn-limpar-filtro {
    width: 200px;
    background: #030637;
    color: white;
    border-radius: 2px;
    margin-top: -37px;
    box-shadow: 0px 4px 4px #0000001a;
}

.select-filtro {
    position: relative;
    background: #0c0f49 !important;
    top: -24px;
    box-shadow: 0px 4px 3px #0000001a;
}

.filtro-arrow {
    position: absolute;
    color: white;
    top: -7.5px;
    right: 15px;
    z-index: 3;
}

.search-container .input-group{
    display: flex;
    flex-direction: column;
}

.carros-filtro-container {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 50px;

    background: #EFF5F5; 
    box-shadow: 0px 4px 4px #0000001a;
}

.form-control-search {
    font-size:  1rem;
    margin-top: 0.625em;
    height:     2.4375em;
    width:      18.75em;
    padding-left: 5px;
    outline: none;
    border: none;
    border-left: 4px solid #12372A;
    box-shadow: 0.5px 0px 3px 0.5px #d6d6d6;

   /* background: #FBF9F1;*/
}

.form-select {
    font-size:     1rem;
    margin-top:    30px;
    width:         12.5em;
    border-radius: 2px;
    background-color: #191919;
    height:     50px;
    color: white;
}

.btn-search {
    border: 0 !important;
    border-radius: 2px !important;
    width: 300px;

    background: #030637;
    box-shadow: 0px 4px 4px #0000001a;
}

.btn-search:hover {
    background: black;
}


.btn-default {
    margin-top: 0.625em;
    height:     2.4375em;
    border:   none;
}

@media (max-width: 414px) {
    .form-select {
        height: 2.6875em;
        width:  8.125em;
        margin-top: 0.625em;
    }
}