@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500&display=swap');

.btn-desktop {
    height: 100%;
    border-radius: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.btn-desktop:hover {
    color: #EEEDEB;
}

.isSelected {
    background: #31304D;
    border-bottom: 5px solid #B6BBC4;
}

.menu-desktop {
    display: flex;
    height: 90px;
}

@media (max-width: 414px) {
    .menu-desktop {display: none;}
}

@media (min-width: 1024px) {
    .menu-desktop {
        height: 110px;
    }
    
}